.project-card {
  border-radius: 2px;
  border-radius: 8px;
}

.project-card:hover {
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.padding-20{
  padding :20px;
}